* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px 8% ;
    position:fixed;
    top:0
    left:0;
    z-index: 1000;

}

#logo{
    font-size: 1.5rem;
    font-weight: 600;
}


.navbar {
     width:100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav_item{
    font-size: 25px;
    color: purple;
    cursor: 
    transition: all 0.3s ease;
}

.nav_item:hover {
    background-color: rgb(255, 0, 212);
}

.home {
    display: flex;
    min-height: calc(100vh - 91px);

}

section{
    width: 100%;
    padding: 20px 8%;
    display: flex;
}

 .titulo{
    font-size: 4rem;
    color:black
 }
  .titulocor {
    color:blueviolet;
  }